# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build System
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
results.html
*.orig

# Vagrant
.vagrant

# Miscellaneous files
*~
*.swp
*.swo
*.log

# Project-specific files

# Microsoft Azure
azure_keys.h

# Built executables
basicserver
authserver
userserver
pushserver
tester
